.container {
  margin: 20px auto;
  width: 900px;
}

#note_title {
  font-size: 18pt;
  font-style: bold;
  margin-bottom: 3px;
}

#note_content {
  margin-bottom: 30px;
}

.button {
  margin: 10px 0;
}

button a {
  text-decoration: none;
  color: black;
}