<form action="/save_note" method="POST">
  <p>Note Title</p><input type="text" name="note[title]">
  <p>Note</p><p><textarea name="note[content]" rows="4" cols="50"></textarea></p>
  <input type="submit" value="Save">
</form>