<form action="/notes" method="POST">
  <h3>Note Title</h3><input type="text" name="note[title]" size="50">
  <h3>Note</h3><textarea name="note[content]" rows="4" cols="50"></textarea>
  <br /><input type="submit" value="Save">
</form>